.footer {
  width: 100%;
  background-color: #e8e8e8;
  color: #ff9900;
  border-top: 1px solid #00cccc;
  padding: 5px;
  text-align: center;
}

.footer-font {
  font-family: 'Handlee', cursive;
  font-size: 1em;
}
